html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	font: 15px/18px sans-serif;
	color: #343434;

}

.demo {
	margin: 10px auto;
	box-sizing: border-box;
	max-width: 80%;
	max-height: 80%;
}


.table-wrap {
	overflow: auto;
	border: 2px solid #fc0;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

	.table__cell {
		position: relative;
		padding: 15px 18px;
		text-align: left;
		vertical-align: top;
		background: rgba(255, 255, 255, 0.93);
		transition: background .12s linear;
	}

		.table__head .table__cell {
			border-style: solid;
			border-color: #fc0;
			border-width: 0 2px 2px 0;
		}
			.table__head .table__cell_no-border {
				border-right: 0;
			}

		.table__body .table__cell {
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
			.table__body .table__cell:first-child {
				border-right: 2px solid #fc0;
			}
			.table__body .table__row:last-child .table__cell {
				border-bottom: 0;
			}
			.table__body .table__row:hover .table__cell{
				background: #f4f4f4;
			}

	.table__cell_horizontal {
		z-index: 1;
	}
	.table__cell_vertical {
		z-index: 2;
	}
	.table__cell_cross {
		z-index: 3;
	}
